[Unit]
Description=Daily Trigger for Berca Medusa DTC 15-Minute POC Simulation (10:00 WIB)

[Timer]
OnCalendar=*-*-* {{ poc_schedule_time }} {{ poc_schedule_timezone }}
Persistent=false
Unit={{ poc_service_name }}.service

[Install]
WantedBy=timers.target
